
#cb-area,
#cb-area *:before,
#cb-area *:after									{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#cb-area											{ clear:both; }


#cb-area .cb-section								{ clear:both; width:100% !important; }
#cb-area .cb-section:after							{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

#cb-area .cb-section > div							{ float:left; margin-left: 2%; width:100%; height:100%; }
#cb-area .cb-section > div:first-child				{ margin-left:0; }
#cb-area .cb-section.col-2 > div					{ width:49%; }
#cb-area .cb-section.col-3 > div					{ width:32%; }
#cb-area .cb-section.col-4 > div					{ width:23.5%; }
#cb-area .cb-section.col-5 > div					{ width:18.4%; }
#cb-area .cb-section.col-6 > div					{ width:15%; }
#cb-area .cb-section.col-7 > div					{ width:12.5%; }
#cb-area .cb-section.col-8 > div					{ width:10.75%; }
#cb-area .cb-section.col-9 > div					{ width:9.3%; }
#cb-area .cb-section.col-10 > div					{ width:8.2%; }
#cb-area .cb-section.col-11 > div					{ width:7.2%; }
#cb-area .cb-section.col-12 > div					{ width:6.5%; }

#cb-area .cb-row									{ clear:both; width:100%; float:none !important; }
#cb-area .cb-row:after								{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

#cb-area .cb-col.v-align > .cb-col-inside			{ position:relative; top:50%; 
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); }
	
#cb-area .cb-stacked-col > .cb-col					{ height:auto !important; }

.ContentBuilderColumn_Image > div:after				{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.ContentBuilderColumn_Image > div img,
.ContentBuilderColumn_Image > div a					{ display:inline-block; }
.ContentBuilderColumn_Image > div.i-left			{ text-align:left; }
.ContentBuilderColumn_Image > div.i-center			{ text-align:center; }
.ContentBuilderColumn_Image > div.i-right			{ text-align:right; }

/*-- Responsive --*/
@media(max-width:1300px){
	#cb-area .cb-section.col-8 > div					{ width:23.5%; }
	#cb-area .cb-section.col-8 > div:nth-child(4n+1)	{ clear:left; margin-left:0; }
}

@media(max-width:1100px) and (min-width:801px){
	#cb-area .cb-section.col-7 > div,
	#cb-area .cb-section.col-6 > div					{ width:32%; }
	#cb-area .cb-section.col-7 > div:nth-child(4n+1),
	#cb-area .cb-section.col-6 > div:nth-child(3n+1)	{ clear:left; margin-left:0; }
	#cb-area .cb-section.col-7 > div:nth-child(-n+4)	{ width:23.5%; }
}


@media(max-width:900px){
	#cb-area .cb-section.col-8 > div,
	#cb-area .cb-section.col-5 > div,
	#cb-area .cb-section.col-4 > div					{ width:49%; }
	#cb-area .cb-section.col-8 > div:nth-child(2n+1),
	#cb-area .cb-section.col-4 > div:nth-child(2n+1)	{ clear:left; margin-left:0; }
	#cb-area .cb-section.col-4 > div:nth-child(4)		{ width:100%; margin-left:0; clear:left; }
	#cb-area .cb-section.col-5 > div					{ width:32%; }
	#cb-area .cb-section.col-5 > div:nth-child(3n+1)	{ clear:left; margin-left:0; }
	#cb-area .cb-section.col-5 > div:nth-child(n+4)		{ width:49%; }
}

@media(max-width:800px){
	#cb-area .cb-section.col-6 > div,
	#cb-area .cb-section.col-7 > div					{ width:49%; }
	#cb-area .cb-section.col-6 > div:nth-child(2n+1),
	#cb-area .cb-section.col-7 > div:nth-child(2n+1)	{ clear:left; margin-left:0; }
	#cb-area .cb-section.col-7 > div:nth-child(7)		{ width:100%; margin-left:0; clear:left; }
	#cb-area .cb-section.col-7 > div.v-align:nth-child(7) > .cb-col-inside { top:0; 
	    -moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0) }
}

@media(max-width:700px){
	#cb-area .cb-section.col-3 > div					{ width:49%; }
	#cb-area .cb-section.col-3 > div:nth-child(2n+1)	{ clear:left; margin-left:0; }
	#cb-area .cb-section.col-3 > div:nth-child(3)		{ width:100%; margin-left:0; clear:left; }
	#cb-area .cb-section.col-3 > div.v-align:nth-child(3) > .cb-col-inside { top:0; 
	    -moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0) }
}

@media(max-width:600px){
	#cb-area .cb-section > div							{ width:100% !important; clear:left !important; margin-left:0 !important; height:auto !important; }
	#cb-area .cb-section > div.v-align > .cb-col-inside { top:0; 
	    -moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0) }
	.ContentBuilderColumn_Image img						{ float:none !important; margin:0 auto; display:block !important; }
}














